<div class="flex flex-col sm:flex-row items-center md:items-center sm:justify-center md:justify-center flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
       <my-image src="assets/images/fos/bg.png" class="z-0 absolute left-0 top-0 object-cover w-full h-full"></my-image>
        <div class="w-full relative z-10 max-w-96 sm:w-96 mx-auto sm:mx-0">
            <!-- Logo -->
            <!-- <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div> -->

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Réinitialisez votre mot de passe</div>
            <div class="mt-0.5 font-medium">Créez un nouveau mot de passe pour votre compte</div>

            <!-- Alert -->
            <ng-container *ngIf="message$ | async as e">
                <fuse-alert class="w-full my-5" [@shake]="true" [type]="e.code < 0 ? 'warn' : 'success'"
                    [appearance]="'border'">
                    <span fuseAlertTitle>Message</span>
                    {{e.message}}
                </fuse-alert>
            </ng-container>

            <!-- Reset password form -->
            <form
                class="mt-8"
                [formGroup]="myForm"
                #resetPasswordNgForm="ngForm">

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Mot de passe</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error>
                        Mot de passe requis
                    </mat-error>
                </mat-form-field>

                <!-- Password confirm field -->
                <mat-form-field class="w-full">
                    <mat-label>Mot de passe (Confirmer)</mat-label>
                    <input
                        id="password-confirm"
                        matInput
                        type="password"
                        [formControlName]="'passwordConfirm'"
                        #passwordConfirmField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordConfirmField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordConfirmField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error>
                        Une confirmation du mot de passe est requise
                    </mat-error>
                    <mat-error *ngIf="myForm.get('passwordConfirm').hasError('mustMatch')">
                        Les mots de passe doivent correspondre
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-3"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="myForm.disabled"
                    (click)="submitAction.next()">
                    <span *ngIf="!myForm.disabled">
                        Réinitialisez votre mot de passe
                    </span>
                    <mat-progress-spinner
                        *ngIf="myForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <!-- Form footer -->
                <div class="mt-8 text-md font-medium text-secondary">
                    <span>Retourner à</span>
                    <a
                        class="ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/sign-in']">se connecter
                    </a>
                </div>

            </form>
        </div>
    </div>
    <!-- <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full overflow-hidden bg-gray-800 dark:border-l"> -->
        <!-- Background - @formatter:off -->
        <!-- Rings -->
      <!--  <my-image src="assets/images/fos/login-right.png" class="object-cover w-full h-full"></my-image>
    </div> -->
</div>
