<div class="flex flex-col sm:flex-row items-center md:items-center sm:justify-center md:justify-center flex-auto min-w-0">
    <div class="relative md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
       <my-image src="assets/images/fos/bg.png" class="z-0 absolute left-0 top-0 object-cover w-full h-full"></my-image>

        <div class="w-full max-w-96 sm:w-96 mx-auto sm:mx-0 relative z-10">
            <!-- Logo -->
            <!-- <div class="w-14">
                <img src="assets/images/logo/logo.svg">
            </div> -->

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Se connecter</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Vous n'avez pas de compte ? </div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-up']">S'inscrire
                </a>
            </div>



            <!-- Alert -->
            <ng-container *ngIf="showMessage | async as e">
                <fuse-alert class="w-full my-5" [@shake]="true" [type]="e.code < 0 ? 'warn' : 'success'"
                    [appearance]="'border'">
                    <span fuseAlertTitle>Message</span>
                    {{e.message}}
                </fuse-alert>
            </ng-container>

            <!-- Sign in form -->
            <form
                class="mt-8"
                [formGroup]="myForm">

                <!-- Email field -->
            <mat-form-field class="w-full">
                <mat-label>Matricule</mat-label>
                <input matInput placeholder="Email" [formControlName]="'email'">
                <mat-error *ngIf="myForm.get('email').hasError('required')">
                    Adresse e-mail est nécessaire
                </mat-error>
                <mat-error *ngIf="myForm.get('email').hasError('email')">
                    S'il vous plaît, mettez une adresse email valide
                </mat-error>
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field class="w-full">
                <mat-label>Mot de passe</mat-label>
                <input id="password" matInput type="password" placeholder="Mot de pass" formControlName="password"
                    #passwordField>
                <button mat-icon-button type="button"
                    (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                    matSuffix>
                    <mat-icon>{{passwordField.type === 'text' ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error
                    *ngIf="myForm.controls.password.invalid && (myForm.controls.password.dirty || myForm.controls.password.touched)">
                    Mot de passe requis
                </mat-error>
            </mat-form-field>


            <div class="text-primary-500 hover:underline">
                <a [routerLink]="['/forgot-password']" class="text-left">Forgot password?</a>
            </div>

                 <!-- Actions -->
                 <!-- <div class="inline-flex items-center justify-end w-full mt-1.5">
                    <a
                        class="text-md font-medium text-primary-500 hover:underline"
                        [routerLink]="['']">vers accueil
                    </a>
                </div> -->

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="myForm.disabled"
                    (click)="signin.next()">
                    <span *ngIf="!myForm.disabled">
                        Se connecter
                    </span>
                    <mat-progress-spinner
                        *ngIf="myForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>
        </div>
    </div>
    <!-- <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full overflow-hidden bg-gray-800 dark:border-l"> -->
        <!-- Background - @formatter:off -->
        <!-- Rings -->
       <!-- <my-image src="assets/images/fos/login-right.png" class="object-cover w-full h-full"></my-image>
    </div> -->
</div>
