<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2 flex justify-between items-center">
                <div class="flex items-start gap-4">
                    <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 ">
                        Operations
                    </h2>

                    <div class="flex gap-4 items-start">
                        <mat-form-field class="w-72" *ngIf="isAdmin()">
                            <!-- <mat-label>Filter</mat-label> -->
                            <input type="text" placeholder="Utilisateur, CIN, email, compte" matInput
                                [formControl]="userId" [matAutocomplete]="auto">
                            <mat-autocomplete (optionSelected)="search()" [displayWith]="display" autoActiveFirstOption
                                #auto="matAutocomplete">
                                @for (e of users$ | async; track e.id) {
                                <mat-option [value]="e">
                                    {{e.firstname}} {{e.lastname}} (CIN: {{e.cin}})
                                </mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>

                        <div class="">
                            <mat-chip-listbox [formControl]="accountId" class="mat-mdc-chip-set-stacked w-72">
                                @if (accounts$ | async; as a) {
                                @for (e of a.list; track e.id) {
                                <mat-chip-option (click)="search()" [color]="'primary'"
                                    [value]="e.id">{{e.accountNumber}}
                                    ({{e.balance}} MAD)
                                    <span class="bg-green-800 text-white px-1 rounded-lg"
                                        [ngClass]="{'bg-red-700': e.status !== 'Ouvert'}">{{e.status}}</span>
                                </mat-chip-option>
                                }
                                <mat-chip-option selected>Total {{a.total}}</mat-chip-option>
                                }
                            </mat-chip-listbox>
                        </div>

                    </div>
                </div>

                <div class="flex gap-2">
                    <button mat-raised-button (click)="reset()" *ngIf="isAdmin()">
                        <mat-icon svgIcon="heroicons_outline:arrow-uturn-left"></mat-icon>
                    </button>

                    <button mat-flat-button [color]="'primary'" (click)="add()">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 mr-1">Add</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="showMessage$ | async as e">
        <fuse-alert class="w-full my-5" [@shake]="true" [type]="e.code < 0 ? 'warn' : 'success'"
            [appearance]="'border'">
            <span fuseAlertTitle>Message</span>
            {{e.message}}
        </fuse-alert>
    </ng-container>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Balances list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto ">
            <ng-container>
                <ng-container>
                    <div class="">
                        <!-- Header -->
                        <div class="grid grid-cols-1 md:grid-cols-10 z-10 sticky top-0 gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5 "
                            matSort matSortDisableClear>
                            <div>id</div>
                            <div class="col-span-3 flex gap-2 items-center">
                                <span>Compte Débité</span>
                                <mat-icon svgIcon="heroicons_outline:arrow-trending-down"></mat-icon>
                            </div>
                            <div class="col-span-3 flex gap-2 items-center">
                                <span>Compte Crédité</span>
                                <mat-icon svgIcon="heroicons_outline:arrow-trending-up"></mat-icon>
                            </div>
                            <div>Montant</div>
                            <div>Date</div>

                            <div>Action</div>
                        </div>
                        <!-- Rows -->

                        <ng-container *ngFor="let e of dataSource(); let i=index; trackBy: trackById">
                            <div class="grid grid-cols-1 md:grid-cols-10 items-center gap-4 py-3 px-6 md:px-8 border-b">

                                <div class="">{{e.id}}</div>
                                <div class="col-span-3">
                                    <span *ngIf="e.accountDebit.user as u" class="flex flex-col">
                                        <div  class="flex items-center gap-2">
                                            <span>{{u.firstname}} {{u.lastname}}</span>

                                            <ng-container [ngTemplateOutlet]="type"
                                                [ngTemplateOutletContext]="{$implicit:$any(e.accountDebit).value}"></ng-container>
                                        </div>
                                        <div class="flex gap-2">
                                            <span class="cursor-pointer text-sm">(CIN: {{u.cin}}) -
                                                Compte
                                                {{e.accountDebit?.accountNumber}}</span>

                                            <span class="bg-green-800 text-white px-1 rounded-lg"
                                                [ngClass]="{'bg-red-700': e.accountDebit?.status !== 'Ouvert'}">{{e.accountDebit?.status}}</span>
                                        </div>
                                    </span>
                                </div>
                                <div class="col-span-3">
                                    <span *ngIf="e.accountCredit.user as u" class="flex flex-col">
                                        <div  class="flex items-center gap-2">
                                            <span>{{u.firstname}} {{u.lastname}}</span>

                                            <ng-container [ngTemplateOutlet]="type"
                                                [ngTemplateOutletContext]="{$implicit:$any(e.accountCredit).value}"></ng-container>

                                        </div>

                                        <div class="flex gap-2">
                                            <span class="cursor-pointer text-sm">(CIN: {{u.cin}}) - Compte
                                                {{e.accountCredit?.accountNumber}}</span>

                                            <span class="bg-green-800 text-white px-1 rounded-lg"
                                                [ngClass]="{'bg-red-700': e.accountCredit?.status !== 'Ouvert'}">{{e.accountCredit?.status}}</span>
                                        </div>

                                    </span>
                                </div>

                                <div class="">{{e.amount}}</div>
                                <div class="">{{e.date | date: "dd/MM/yyyy, HH:mm"}}</div>
                                <div class="flex gap-2">
                                    <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button
                                        matTooltip="Go to Edit form" (click)="edit(e)">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:pencil' ">
                                        </mat-icon>
                                    </button>
                                    <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button *ngIf="isAdmin()"
                                        matTooltip="Delete this item" (click)="remove(e)">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:trash' ">
                                        </mat-icon>
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <mat-paginator #paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [length]="totalRecords" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true">
                    </mat-paginator>

                </ng-container>
            </ng-container>
        </div>
    </div>
</div>


<ng-template #type let-value>
    @if (value === 'credit') {
    <span class="px-1 bg-blue-500  rounded-lg text-sm">
        <mat-icon svgIcon="heroicons_outline:arrow-trending-up" class="text-white"></mat-icon>
    </span>
    } @else if (value === 'debit') {
    <span class="px-1 bg-orange-500  rounded-lg text-sm">
        <mat-icon svgIcon="heroicons_outline:arrow-trending-down" class="text-white"></mat-icon>
    </span>
    }
</ng-template>
